.displayBar{
    flex:1;
    margin:0;
    padding:0;
    min-height:59.2px;
    max-height:59.2px;
    width:100%;
    display: flex;
    background-color: pink;
    align-content: center;
    justify-content: center;
}
